@font-face {
  font-family: "museo";
  src: url('fonts/Museo_Slab_500-webfont.eot');
  src: url('fonts/Museo_Slab_500-webfont.eot?#iefix') format('eot'), url('fonts/Museo_Slab_500-webfont.ttf') format('truetype'), url('fonts/Museo_Slab_500-webfont.woff') format('woff'), url('fonts/Museo_Slab_500-webfont.svg') format('svg');
}

/**
Fare Map: Mapping public-transport fares
Author: Jayesh Gohel (gnatih@github)
**/
/* line 9, ../scss/style.scss */
html, body, #wrapper {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

/* line 17, ../scss/style.scss */
body {
  font-size: 13px;
  font-family: "museo", sans-serif;
}

/* line 18, ../scss/style.scss */
a {
  outline: none;
}

/* line 20, ../scss/style.scss */
#map {
  height: 100%;
  background: #ccc;
}

/* line 25, ../scss/style.scss */
#dialog {
  color: #000;
  padding: 16px;
  width: 260px;
  background: #ddd;
  position: fixed;
  z-index: 5000;
  top: 0;
  background-image: -moz-linear-gradient(top, #dddddd, #aaaaaa);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #dddddd), color-stop(1, #aaaaaa));
  text-shadow: 0 1px 1px white;
  border: 1px solid #999999;
}

/* line 38, ../scss/style.scss */
#info {
  color: #333;
  background: #ddd;
  width: 230px;
  position: fixed;
  right: 20px;
  bottom: 30px;
  z-index: 300;
  padding: 14px;
  background-image: -moz-linear-gradient(top, #dddddd, #aaaaaa);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #dddddd), color-stop(1, #aaaaaa));
  border: 1px solid #999999;
}

/* line 52, ../scss/style.scss */
#info p {
  font-size: 17px;
  text-shadow: 0 1px 1px white;
}

/* line 53, ../scss/style.scss */
#logo {
  font-size: 20px;
  font-weight: bold;
  color: #444;
  text-shadow: 0 1px 1px white;
}

/* line 54, ../scss/style.scss */
#loc {
  outline: none;
  font-size: 10px;
  width: 90px;
  float: right;
  padding: 0;
  margin: 0;
  padding: 4px;
  background: #555;
  color: #fff;
  border: none;
  border: 1px solid #333333;
}

/* line 55, ../scss/style.scss */
#loc option {
  outline: none;
}

/* line 57, ../scss/style.scss */
#rid {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 8px;
  margin-top: 8px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

/* line 67, ../scss/style.scss */
#rid th {
  font-size: 11px;
  text-align: left;
  padding-left: 7px;
  text-shadow: 0 1px 1px white;
}

/* line 68, ../scss/style.scss */
#rid tr {
  cursor: pointer;
}

/* line 69, ../scss/style.scss */
#rid td {
  padding: 4px 8px;
  font-size: 16px;
}

/* line 71, ../scss/style.scss */
#btns {
  margin: 8px 0;
}

/* line 73, ../scss/style.scss */
.btn {
  padding: 4px 6px;
  font-size: 90%;
  margin-right: 6px;
  margin-bottom: 12px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  background-color: #666;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

/* line 88, ../scss/style.scss */
.btn:hover {
  background: #c33100;
}

/* line 90, ../scss/style.scss */
#overlay {
  width: 100%;
  height: 100%;
  filter: alpha(opacity=50);
  /*older IE*/
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  /* IE */
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  background: #333;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3000;
  display: none;
}

/* line 105, ../scss/style.scss */
.r {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

/* line 111, ../scss/style.scss */
.err {
  color: #c33100;
}

/* line 111, ../scss/style.scss */
.red {
  background: #f41;
}

/* line 111, ../scss/style.scss */
.blue {
  background: #4682B4;
}

/* line 111, ../scss/style.scss */
.orange {
  background: orange;
}

/* line 113, ../scss/style.scss */
#ad {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 20000;
}
